body {
    font-family: "Open Sans", sans-serif;
    background-color: #040404;
    color: #fff;
    position: relative;
    background: transparent;
}

body::before {
    content: "";
    position: fixed;
    background: #040404 url("../img/main.webp") top right no-repeat;
    background-size: contain;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: -1;
}

@media (min-width: 1024px) {
    body::before {
        background-attachment: fixed;
    }
}

a {
    color: #CC5500;
    text-decoration: none;
}

a:hover {
    color: #A01300;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}


/* width */

::-webkit-scrollbar {
    width: 7px;
}


/* Track */

::-webkit-scrollbar-track {
    background: rgb(41, 0, 0);
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #eec3a4;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #eec3a4a9;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
    transition: ease-in-out 0.3s;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 999;
    overflow-y: auto;
}

#header * {
    transition: ease-in-out 0.3s;
}

#header h1 {
    font-size: 48px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}

#header h1 a,
#header h1 a:hover {
    color: #fff;
    line-height: 1;
    display: inline-block;
}

#header h2 {
    font-size: 24px;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.8);
}

#header h2 span {
    color: #fff;
    border-bottom: 2px solid #CC5500;
    padding-bottom: 6px;
}

#header img {
    padding: 0px;
    margin-top: 0px;
    width: 25%;
}

#header .social-links {
    margin-top: 40px;
    display: flex;
}

#header .social-links a {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    line-height: 1;
    margin-right: 8px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

#header .social-links a:hover {
    background: #CC5500;
}

@media (max-width: 992px) {
    #header {
        z-index: 9999;
    }
    #header h1 {
        font-size: 36px;
    }
    #header h2 {
        font-size: 20px;
        line-height: 30px;
    }
    #header .social-links {
        margin-top: 15px;
    }
    #header .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #header img {
        padding: 100px;
        margin-top: 20px;
        width: 100%;
    }
}


/* Header Top */

#header.header-top {
    height: 80px;
    overflow-y: hidden;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background: rgb(31, 0, 0);
    border-bottom: 1px solid #eec3a4;
}

#header.header-top .social-links,
#header.header-top h2 {
    display: none;
}

#header.header-top h1 {
    margin-right: auto;
    font-size: 36px;
}

#header.header-top .container {
    display: flex;
    align-items: center;
}

#header.header-top .navbar {
    margin: 0;
}

@media (max-width: 768px) {
    #header.header-top {
        height: 60px;
    }
    #header.header-top h1 {
        font-size: 26px;
    }
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/


/**
* Desktop Navigation 
*/

.navbar {
    padding: 0;
    margin-top: 35px;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar li+li {
    margin-left: 30px;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #CC5500;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
    visibility: visible;
    width: 25px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #fff;
}


/**
* Mobile Navigation 
*/

.mobile-nav-toggle {
    color: #CC5500;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
    position: fixed;
    right: 15px;
    top: 22px;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }
    /*.navbar ul {
        display: none;
    }*/
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    transition: 0.3s;
    z-index: 9999;
    margin-top: 0;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: flex;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 45px;
    left: 15px;
    padding: 10px 0;
    overflow-y: auto;
    transition: 0.3s;
    border: 2px solid rgba(255, 255, 255, 0.2);
    z-index: 999;
}

.navbar-mobile li {
    padding: 12px 20px;
}

.navbar-mobile li+li {
    margin: 0;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    font-size: 16px;
    position: relative;
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

section {
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 140px;
    bottom: 100%;
    opacity: 0;
    transition: ease-in-out 0.4s;
    z-index: 2;
}

section.section-show {
    top: 100px;
    bottom: auto;
    opacity: 1;
    padding-bottom: 45px;
}

section .container {
    background: rgb(41, 0, 0, 0.9);
    padding: 30px;
}

@media (max-width: 768px) {
    section {
        top: 120px;
    }
    section.section-show {
        top: 80px;
    }
}

.section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 20px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
}

.section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #A01300;
    margin: 4px 10px;
}

.section-title p {
    margin: 0;
    margin: -15px 0 15px 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #fff;
}


/*--------------------------------------------------------------
# Google Form
--------------------------------------------------------------*/

.about-me {
    border: 1px solid #eec3a4;
}

.about-me .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: #CC5500;
}

.about-me .content ul {
    list-style: none;
    padding: 0;
}

.about-me .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.about-me .content ul strong {
    margin-right: 10px;
}

.about-me .content ul i {
    font-size: 16px;
    margin-right: 5px;
    color: #CC5500;
    line-height: 0;
}

.about-me .content p:last-child {
    margin-bottom: 0;
}


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.contact-me {
    border: 1px solid #eec3a4;
}

.contact .info-box {
    color: #444444;
    padding: 20px;
    width: 100%;
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid #eec3a4;
}

.contact .info-box i.bx {
    font-size: 24px;
    color: #CC5500;
    border-radius: 50%;
    padding: 14px;
    float: left;
    background: rgba(255, 255, 255, 0.1);
}

.contact .info-box h3 {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 700;
    margin: 10px 0 8px 68px;
}

.contact .info-box p {
    padding: 0;
    color: #fff;
    line-height: 24px;
    font-size: 14px;
    margin: 0 0 0 68px;
}

.contact .info-box .social-links {
    margin: 5px 0 0 68px;
    display: flex;
}

.contact .info-box .social-links a {
    font-size: 18px;
    display: inline-block;
    color: #fff;
    line-height: 1;
    margin-right: 12px;
    transition: 0.3s;
}

.contact .info-box .social-links a:hover {
    color: #CC5500;
}

.contact .ot-form {
    padding: 30px;
    background: rgba(255, 255, 255, 0.08);
}

.contact .ot-form .error-message {
    display: none;
    background: rgba(255, 255, 255, 0.08);
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.contact .ot-form .error-message br+br {
    margin-top: 25px;
}

.contact .ot-form .sent-message {
    display: none;
    background: rgba(255, 255, 255, 0.08);
    background: #CC5500;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .ot-form .loading {
    display: none;
    background: rgba(255, 255, 255, 0.08);
    text-align: center;
    padding: 15px;
}

.contact .ot-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #CC5500;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

.contact .ot-form input,
.contact .ot-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.08);
    border: 0;
    transition: 0.3s;
    color: #fff;
}

.contact .ot-form input:focus,
.contact .ot-form textarea:focus {
    background-color: rgba(255, 255, 255, 0.11);
}

.contact .ot-form input::-moz-placeholder,
.contact .ot-form textarea::-moz-placeholder {
    color: rgba(255, 255, 255, 0.3);
    opacity: 1;
}

.contact .ot-form input::placeholder,
.contact .ot-form textarea::placeholder {
    color: rgba(255, 255, 255, 0.3);
    opacity: 1;
}

.contact .ot-form input {
    padding: 10px 15px;
}

.contact .ot-form textarea {
    padding: 12px 15px;
}

.contact .ot-form button[type=submit] {
    background: transparent;
    border: 1px solid #eec3a4;
    padding: 10px 30px;
    color: #eec3a4;
    box-shadow: 0 0 40px #eec3a4;
    transition: 0.4s;
}

.contact .ot-form button[type=submit]:hover {
    box-shadow: none;
    background: #eec3a4;
    color: #A01300;
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}